.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: ghostwhite;
    gap: 30px;
}
/* .button {
    &:hover {
        color : blue;
    }
} */

.button {
    background-color: purple;
    display: flex;
    justify-content: center;
}
.button:hover {
    color: white;
}

