.container {
    display: flex;
}

.card {
    width: 300px;
    height: 200px;
    background-color:pink;
    position: relative;
}

.product {
    position: absolute;
    top : 20px

}

.price {
    position: absolute;
    top: 60px;
}

.badge {
    position: absolute;
    background-color: blue;
    color: white; 
}

button {
    position: absolute;
    bottom: 0px;
    right: 0px;

}